<!DOCTYPE html>
<html>
    <head>
        <title>Django E-Commerce Reporting Tools</title>
        <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 3rd Party CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
        
        <!-- Static Django Content -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'reporting/css/admin.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'reporting/css/bulma-calendar.min.css' %}">
        <script src="{% static 'reporting/js/plotly-latest.min.js' %}"></script>
        <script src ="{% static 'reporting/js/bulma-calendar.min.js' %}"></script>
        
        <!-- 3rd Party JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    </head>
    <body>


